# Project exclude paths
/.gradle/
/Simple Tic-Tac-Toe/task/build/
/Simple Tic-Tac-Toe/task/out/
/Simple Tic-Tac-Toe/task/out/production/classes/
/Topics/Multidimensional array/Cinema/out/
/Topics/Multidimensional array/Cinema/out/production/classes/
/Topics/Multidimensional array/Find the corners/out/
/Topics/Multidimensional array/Find the corners/out/production/classes/